<h3>ChildLifecycleComponent</h3>
<h2> Set Parameter  :  @FirstName</h2>

@code {
    [Parameter]
    public string  FirstName { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        // Any logic you need to write before setting the parameter to  FirstName
        foreach (var item in parameters)
        {
            Console.WriteLine(item.Name + " " + item.Value);
        }
        return base.SetParametersAsync(parameters);
    }

}
